<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title><%= title %></title>
    <% include head %>
    <% include scripts %>
  </head>
  <body>

    <h2><%= title %></h2>

    <ul>

      <p>Scrieti numarul felului pe care vreti sa-l activati:</p>
      <form action="/enable" method="POST" id="enable-disable">
        <input type="text" name="activate">
        <button type="submit">Activeaza</button>
        <p>Scrieti numarul felului pe care vreti sa-l dezactivati:</p>
      </form>
      <form action="/disable" method="post">
        <input type="text" name="disable">
        <button type="submit">Dezactiveaza</button>
    </form>
      <%  menu_of_the_day.forEach(function(dish, index, array){ %>
        </form>
        <h3><%=dish.id%>. <%=dish.name %></h3>
        <img src="<%=dish.image %>" style="width:50%";></img>
        <p><% dish.description %></p>
        <p>Price: <%=dish.price %></p>
        <p>Quantity: <%=dish.quantity %></p></div>
        <p>State:</p>
        <% if(dish.enabled==true){ %>
          <p>enabled</p>
        <% } else { %>
          <p>disabled</p>
        <%} %>
        <a href="/enable_menu/<%=dish.id %>">Activeaza</a>
        <a href="/disable_menu/<%=dish.id %>">Dezactiveaza</a>
        <% })%>


    </ul>


  </body>
</html>
