<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title><%= title %></title>
    <% include head %>
    <% include scripts %>
  </head>
  <body>

    <h2><%= title %></h2>
    <form action="/admin" method="POST" id="enable-disable">
      <button type="submit" name="admin">admin</button>
    </form>
    <ul>
      <%  menu_of_the_day.forEach(function(dish, index, array){ %>
        <% if(dish.enabled==true){ %>
        <h3><%=dish.name %></h3>
        <img src="<%=dish.image %>" style="width:50%";></img>
        <p><% dish.description %></p>
        <p>Price: <%=dish.price %></p>
        <p>Quantity: <%=dish.quantity %></p></div>
          <%}
        })%>


    </ul>


  </body>
</html>
